Repository cinemaproject/monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alexbatashev, @alibabaih, @svetinsideu, @ARomanovna

.github/CODEOWNERS:

* @alexbatashev @alibabaih

docs/ @alexbatashev @svetinsideu
backend/ @alexbatashev
frontend/ @alibabaih @ARomanovna
frontend_new/ @alibabaih @ARomanovna

address review feedback
  docs/process.md
Owners: @alexbatashev, @svetinsideu

docs: add instructions about forks and pull requests (#19)
  docs/process.md
  docs/screenshots/FORK.png
  docs/screenshots/doneFORK.png
  docs/screenshots/pull.png
  docs/screenshots/pull2.png
Owners: @alexbatashev, @svetinsideu

fix: enable Selenium WebDriver tests on Firefox
  .github/workflows/ci.yaml
Owners: @alexbatashev, @alibabaih

fix: enable Selenium WebDriver tests on Firefox (#28)
  .github/workflows/ci.yaml
Owners: @alexbatashev, @alibabaih

chore: enable nightly testing
  .github/workflows/ci.yaml
Owners: @alexbatashev, @alibabaih

chore: enable nightly testing (#29)
  .github/workflows/ci.yaml
Owners: @alexbatashev, @alibabaih

Gulp serve
  frontend_new/gulpfile.js
Owners: @alibabaih, @ARomanovna

fix: gulp serve browser auto reload (#30)
  frontend_new/gulpfile.js
Owners: @alibabaih, @ARomanovna

feat: auto db schema migration
  backend/Dockerfile.db_migration
  backend/Dockerfile.server
  backend/cmd/db_migration/main.go
  backend/go.mod
  backend/go.sum
  backend/schema/001_initial.sql
  kustomize/base/backend-deployment.yaml
  kustomize/base/kustomization.yaml
  kustomize/overlays/dev/app_env.yaml
  kustomize/overlays/dev/kustomization.yaml
  kustomize/overlays/prod/app_env.yaml
  kustomize/overlays/prod/kustomization.yaml
  kustomize/toydb/kustomization.yaml
  kustomize/toydb/toydb-deployment.yaml
  kustomize/toydb/toydb-service.yaml
  skaffold.yaml
  toydb/01_films.sql
  toydb/01_people.sql
  toydb/02_relations.sql
  toydb/03_films_sample.sql
  toydb/03_pepople_sample.sql
  toydb/04_relations.sql
  toydb/Dockerfile
Owners: @alexbatashev, @alibabaih

feat: auto db schema migration (#31)
  backend/Dockerfile.db_migration
  backend/Dockerfile.server
  backend/cmd/db_migration/main.go
  backend/go.mod
  backend/go.sum
  backend/schema/001_initial.sql
  kustomize/base/backend-deployment.yaml
  kustomize/base/kustomization.yaml
  kustomize/overlays/dev/app_env.yaml
  kustomize/overlays/dev/kustomization.yaml
  kustomize/overlays/prod/app_env.yaml
  kustomize/overlays/prod/kustomization.yaml
  kustomize/toydb/kustomization.yaml
  kustomize/toydb/toydb-deployment.yaml
  kustomize/toydb/toydb-service.yaml
  skaffold.yaml
  toydb/01_films.sql
  toydb/01_people.sql
  toydb/02_relations.sql
  toydb/03_films_sample.sql
  toydb/03_pepople_sample.sql
  toydb/04_relations.sql
  toydb/Dockerfile
Owners: @alexbatashev, @alibabaih

feat: add descritpion and album id to db schema
  backend/cmd/db_migration/main.go
  backend/pkg/model/films.go
  backend/pkg/model/films_test.go
  backend/pkg/server_test.go
  backend/schema/002_film_desc_album.sql
Owners: @alexbatashev

feat: add descritpion and album id to db schema (#32)
  backend/cmd/db_migration/main.go
  backend/pkg/model/films.go
  backend/pkg/model/films_test.go
  backend/pkg/server_test.go
  backend/schema/002_film_desc_album.sql
Owners: @alexbatashev

feat: add phrases db table
  backend/schema/003_phrases.sql
Owners: @alexbatashev

feat: add phrases db table (#33)
  backend/schema/003_phrases.sql
Owners: @alexbatashev

fix: false positive e2e tests in CI
  .github/workflows/ci.yaml
Owners: @alexbatashev, @alibabaih

fix: false positive e2e tests in CI (#34)
  .github/workflows/ci.yaml
Owners: @alexbatashev, @alibabaih

Update search_results_section_footer.html
  frontend_new/templates/search_results_section_footer.html
Owners: @alibabaih, @ARomanovna

Update search_results_header.html
  frontend_new/templates/search_results_header.html
Owners: @alibabaih, @ARomanovna

Update search_results_section_header.html
  frontend_new/templates/search_results_section_header.html
Owners: @alibabaih, @ARomanovna

Create Search_Photo.html
  frontend_new/templates/Search_Photo.html
Owners: @alibabaih, @ARomanovna

Create Search_music.html
  frontend_new/templates/Search_music.html
Owners: @alibabaih, @ARomanovna

Create Search_phrase.html
  frontend_new/templates/Search_phrase.html
Owners: @alibabaih, @ARomanovna

Create results_carousel
  frontend_new/templates/results_carousel
Owners: @alibabaih, @ARomanovna

Create results_card_film_description
  frontend_new/templates/results_card_film_description
Owners: @alibabaih, @ARomanovna

fix: go-acc installation in CI
  .github/workflows/ci.yaml
Owners: @alexbatashev, @alibabaih

fix: go-acc installation in CI (#43)
  .github/workflows/ci.yaml
Owners: @alexbatashev, @alibabaih

feat: implement dispaying info about people and films
  frontend_new/app/SuccessBackendMock.js
  frontend_new/app/main.js
  frontend_new/styles/main.css
  frontend_new/templates/card.html
  frontend_new/templates/film.html
  frontend_new/templates/person.html
  frontend_new/unittests/views/test_film.js
  frontend_new/views/Film.js
  frontend_new/views/Person.js
  frontend_new/views/SearchResults.js
Owners: @alibabaih, @ARomanovna

remove outdated test
  tests/selenium/film.test.js
Owners: @alexbatashev, @alibabaih

feat: implement dispaying info about people and films (#44)
  frontend_new/app/SuccessBackendMock.js
  frontend_new/app/main.js
  frontend_new/styles/main.css
  frontend_new/templates/card.html
  frontend_new/templates/film.html
  frontend_new/templates/person.html
  frontend_new/unittests/views/test_film.js
  frontend_new/views/Film.js
  frontend_new/views/Person.js
  frontend_new/views/SearchResults.js
  tests/selenium/film.test.js
Owners: @alibabaih, @ARomanovna, @alexbatashev

fix: update prod config
  kustomize/base/kustomization.yaml
  kustomize/overlays/dev/ingress.yaml
  kustomize/overlays/dev/kustomization.yaml
  kustomize/overlays/prod/ingress.yaml
  kustomize/overlays/prod/kustomization.yaml
  kustomize/overlays/prod/secret.yaml
Owners: @alexbatashev, @alibabaih

fix: update prod config (#45)
  kustomize/base/kustomization.yaml
  kustomize/overlays/dev/ingress.yaml
  kustomize/overlays/dev/kustomization.yaml
  kustomize/overlays/prod/ingress.yaml
  kustomize/overlays/prod/kustomization.yaml
  kustomize/overlays/prod/secret.yaml
Owners: @alexbatashev, @alibabaih

# Absolute Path Traversal due to incorrect use of `send_file` call
  model_server/app/main.py
Owners: @alexbatashev, @alibabaih
