Repository cinemaproject/monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alexbatashev, @alibabaih, @svetinsideu, @vladimirwest, @ARomanovna

chore: add code quality metrics (#8)
  .github/workflows/code_quality.yaml
  backend/app/config.py
  backend/app/db/items.py
  backend/app/db/text_search.py
  backend/app/face_searcher.py
  backend/app/main.py
  backend/test.sh
  backend/unittests/test_utils.py
Owners: @alexbatashev, @alibabaih, @vladimirwest

feat: prod and dev configs in skaffold (#9)
  kustomize/base/backend-deployment.yaml
  kustomize/base/backend-ingress.yaml
  kustomize/base/backend-service.yaml
  kustomize/base/kustomization.yaml
  kustomize/base/toydb-deployment.yaml
  kustomize/base/toydb-service.yaml
  kustomize/overlays/dev/kustomization.yaml
  kustomize/overlays/dev/namespace.yaml
  kustomize/overlays/dev/secret.yaml
  kustomize/overlays/prod/kustomization.yaml
  skaffold.yaml
Owners: @alexbatashev, @alibabaih

cleanup
  package-lock.json
  package.json
Owners: @alexbatashev, @alibabaih

Deploy container
  kustomize/base/frontend-deployment.yaml
Owners: @alexbatashev, @alibabaih

update tests
  frontend_new/unittests/views/test_about.js
  frontend_new/unittests/views/test_film.js
Owners: @alibabaih, @ARomanovna

Add ingress
  backend/app/main.py
  frontend_new/app/Backend.js
  frontend_new/app/SuccessBackendMock.js
  frontend_new/templates/film.html
  frontend_new/templates/home.html
  kustomize/base/backend-deployment.yaml
  kustomize/base/frontend-service.yaml
  kustomize/base/ingress.yaml
  kustomize/base/kustomization.yaml
Owners: @alexbatashev, @vladimirwest, @alibabaih, @ARomanovna

add note
  README.md
Owners: @alexbatashev, @alibabaih

added documentation
  backend/test.sh
  docs/process.md
  frontend/config/default.conf 
  frontend/init.sh
Owners: @alexbatashev, @vladimirwest, @svetinsideu, @alibabaih, @ARomanovna

added documentation
  docs/process.md
Owners: @alexbatashev, @svetinsideu

Update numbers
  frontend_new/README.md
Owners: @alibabaih, @ARomanovna

fix: delete default.conf
  frontend/config/default.conf 
Owners: @alibabaih, @ARomanovna

fix: delete default.conf (#13)
  frontend/config/default.conf 
Owners: @alibabaih, @ARomanovna

Update Search_Photo.html
  frontend/static/Search_Photo.html
Owners: @alibabaih, @ARomanovna

Update Search_Photo.html (#14)
  frontend/static/Search_Photo.html
Owners: @alibabaih, @ARomanovna

fix: backend builds
  backend/Dockerfile
Owners: @alexbatashev, @vladimirwest

Update Dockerfile
  backend/Dockerfile
Owners: @alexbatashev, @vladimirwest

fix: backend builds (#15)
  backend/Dockerfile
Owners: @alexbatashev, @vladimirwest

fix: remove versioning from numpy
  backend/requirements.txt
Owners: @alexbatashev, @vladimirwest

fix: remove versioning from numpy (#17)
  backend/requirements.txt
Owners: @alexbatashev, @vladimirwest

.github/CODEOWNERS:

* @alexbatashev @alibabaih

docs/ @alexbatashev @svetinsideu
backend/ @alexbatashev @vladimirwest
frontend/ @alibabaih @ARomanovna
frontend_new/ @alibabaih @ARomanovna
